<script>
	import { onMount } from 'svelte';
	// import { exec } from 'child_process';
	// const { exec } = require('child_process');
	const util = require('util');
	const exec = util.promisify(require('child_process').exec);

	function handleClick() {
		exec('netsh advfirewall firewall add rule name=csgoserverpicker dir=out action=block protocol=any remoteip=162.254.198.0-162.254.198.255,155.133.252.0-155.133.252.255', (error, stdout, stderr) => {
			if (error) {
				console.error(`exec error: ${error}`);
				alert('Failed to block ip. Make sure you ran the program as an administrator.');
				return;
			}

			if (stderr) { // same error as before so prolly not needed
				console.error(`stderr: ${stderr}`);
				return;
			}
		});
	}

	async function doesFirewallRuleExist() {
		try {
			const { stdout, stderr } = await exec('netsh advfirewall firewall show rule name="csgoserverpicker" | find "No rules match the specified criteria."');
			const ble = 'No rules match the specified criteria.';
			if (stdout.includes(ble)) {
				return false;
			}
			return true;
		} catch (error) {
			return error;
		}
	}

	async function resetServerSelection() {
		if (await doesFirewallRuleExist()) {
			exec('netsh advfirewall firewall delete rule name=csgoserverpicker', (error, stdout, stderr) => {
				if (error) {
					console.error(`exec error: ${error}`);
					alert('Failed to block ip. Make sure you ran the program as an administrator.');
					return;
				}

				if (stderr) {
					console.error(`stderr: ${stderr}`);
					return;
				}

				console.log(stdout);
			})
		}
	
	}

	function blockUnselectedServers() {
		// const unselectedServers = data.servers.filter(server => !selectedServerIds.find(selectedServerId => selectedServerId === server.id));
		const selectedServers = data.servers.filter(server => !!selectedServerIds.find(selectedServerId => selectedServerId === server.id));

		let ipRangesToBlock = [];
		selectedServers.forEach(selectedServer => {
			// selectedServer.relays = [...selectedServer.relays, selectedServer.relays[0]]; // duplicate for testing
			return selectedServer.relays.forEach(relay => {
				const part = relay.ipv4.substr(1, relay.ipv4.lastIndexOf('.'));
				ipRangesToBlock = [...ipRangesToBlock, `${part}0-${part}255`];
			});
		})
		ipRangesToBlock = [...new Set(ipRangesToBlock)];
		console.log(ipRangesToBlock.toString());

		exec(`netsh advfirewall firewall add rule name=csgoserverpicker dir=out action=block protocol=any remoteip=${ipRangesToBlock.toString()}`, (error, stdout, stderr) => {
			if (error) {
				console.error(`exec error: ${error}`);
				alert('Failed to block ip. Make sure you ran the program as an administrator.');
				return;
			}

			if (stderr) {
				console.error(`stderr: ${stderr}`);
				return;
			}
		})
		
	}

	function handleApplyServerSelection() {
		resetServerSelection(); // make this method return promise and await
		blockUnselectedServers();
	}

	function handleResetServerSelection() {
		resetServerSelection();
	}

	let selectedServerIds = [];
	function handleSelectServer(server) {
		const index = selectedServerIds.findIndex(selectedServerId => selectedServerId === server.id);
		if (index === -1) {
			selectedServerIds = [...selectedServerIds, server.id];
		} else {
			selectedServerIds = [...selectedServerIds.filter(selectedServerId => selectedServerId !== server.id)];
		}
	}

	// let localNetworkDatagramConfig;
	// let remoteNetworkDatagramConfig;
	let networkDatagramConfig;
	let data = {
		servers: []
	};

	onMount(async () => {
		// load file if exists localNetworkDatagramConfig

		// fetch latest NetworkDatagramConfig
		const res = await fetch('https://raw.githubusercontent.com/SteamDatabase/SteamTracking/8a319341b38c9393ce288c3e5bc2cd46196ad8dc/Random/NetworkDatagramConfig.json');
		networkDatagramConfig = await res.json();
		
		if (!networkDatagramConfig.pops) {
			alert('Invalid data structure. Inform me at ...');
			// Would you like to use the last saved data???
			return;
		}

		data.revision = networkDatagramConfig.revision;
		Object.keys(networkDatagramConfig.pops).forEach(key => {
			if (!!networkDatagramConfig.pops[key].relays) {
				data.servers.push({
					...networkDatagramConfig.pops[key],
					id: key
				});	
			}
		});
		
		//if (remoteNetworkDatagramConfig.revision > localNetworkDatagramConfig.revision) {

		// }

		console.log(data);
	});
</script>

<style>
</style>

<button on:click={handleClick}>ble</button>

<button on:click={handleApplyServerSelection}>Apply</button>

<button on:click={handleResetServerSelection}>Deselect all</button>

<div>
	{#each data.servers as server}
		<div on:click={() => handleSelectServer(server)}>
			<p>{server.desc}</p>
			{#if !!selectedServerIds.find(selectedServerId => selectedServerId === server.id)}
				<p>(SELECTED)</p>
			{/if}
		</div>
	{:else}
		<p>loading...</p>
	{/each}
</div>
